*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "work sans", "sans-serif";
    background: #f9f9f9;
}

main{
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

header{
    text-align: center;
    margin: 20px;
}

h1{
    font-family: "Fjalla One", sans-serif;
}

form{
    background-color: #ffffff;
    padding: 15px;
}

fieldset{
    padding: 15px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

legend{
    font-weight: bold;
    padding: 0 8px;
    font-size: 18px;

}



